/* SETUP | VARIABLES | 2721_MODEL-DAB | COLOR - 2018-01-09 */
/* SETUP | VARIABLES | 2721_SETUP | COLOR - 2018-12-14 */

	$color-peachred:					#c05660;
	$bgcolor-peachred:					#c05660;

	%color-peachred {
		color: $bgcolor-peachred;
	}
	%bgcolor-peachred {
		background-color: $bgcolor-peachred;
	}

	.color-peachred {
		@extend %color-peachred !optional;
	}
	.bgcolor-peachred {
		@extend %bgcolor-peachred !optional;
	}

// -------------------------------------
// VARIABLES

// DEFAULT

	$color-default:						#333;
	$bgcolor-default:					#fff;

// HTML

	$color-html:						null;
	$bgcolor-html:						null;

// BODY

	$color-body:						#333;
	$bgcolor-body:						#fff;

// SITE-CONTAINER

	$color-sitecontainer:				#333;
	$bgcolor-sitecontainer:				null;

// LINK

	$color-link: 						#cc3233;
	$color-hover: 						#8f2324;

// LINK (BG)

	$bgcolor-link: 						#cc3233;
	$bgcolor-hover: 					#8f2324;

// BUTTON

	$button-color-link: 				#fff;
	$button-color-hover: 				#eee;
	$button-color-link-alt: 			#cc3233;
	$button-color-hover-alt: 			#fff;

// BUTTON (BG)

	$button-bgcolor-link: 				#cc3233;
	$button-bgcolor-hover: 				#8f2324;
	$button-bgcolor-link-alt: 			#fff;
	$button-bgcolor-hover-alt: 			#8f2324;

// SELECTION

	$color-selection:					#fff;
	$bgcolor-selection:					#8f2324;

// HEADLINE

	$color-headline:					null;
	$color-headline-link:				null;
	$color-headline-hover:				null;

// BLOCKQUOTE

	$color-blockquote:					null;
	$color-caption:						null;

// ENTRY-TITLE

	$color-entrymeta:					#808080;

// ENTRY-TITLE

	$color-entrytitle:					null;
	$color-entrytitle-link:				null;
	$color-entrytitle-hover:			null;

	$color-entrytitle-page:				null;
	$color-entrytitle-single:			null;

// LINE

	$color-line:						#808080;
	$color-border:						#808080;

// HARD COLORS

	$color-black:						#000000;
	$color-white:						#ffffff;

	$color-lightgray:					#f5f5f5;
	$color-gray:						#666666;
	$color-darkgray:					#333333;

// HARD COLORS

	$bgcolor-black:						#000000;
	$bgcolor-white:						#ffffff;

	$bgcolor-lightgray:					#f5f5f5;
	$bgcolor-gray:						#666666;
	$bgcolor-darkgray:					#333333;

// SHADES BETWEEN BLACK & WHITE

	$color-lightest:					#f5f5f5;
	$color-lighter:						#bfbfbf;
	$color-light:						#737373;
	$color-middle:						#666666;
	$color-dark:						#595959;
	$color-darker:						#4d4d4d;
	$color-darkest:						#333333;

// SHADES BETWEEN BLACK & WHITE

	$bgcolor-lightest:					#f5f5f5;
	$bgcolor-lighter:					#bfbfbf;
	$bgcolor-light:						#737373;
	$bgcolor-middle:					#666666;
	$bgcolor-dark:						#595959;
	$bgcolor-darker:					#4d4d4d;
	$bgcolor-darkest:					#333333;

// SHADES OF THE RAINBOW

	$color-red:							#cc3233;
	$color-orange:						#ff7b00;
	$color-yellow:						#ffbb00;
	$color-green:						#66cc00;
	$color-violet:						#b882ee;
	$color-blue:						#0066cc;

// SHADES OF THE RAINBOW

	$bgcolor-red:						#cc3233;
	$bgcolor-orange:					#ff7b00;
	$bgcolor-yellow:					#ffbb00;
	$bgcolor-green:						#66cc00;
	$bgcolor-violet:					#b882ee;
	$bgcolor-blue:						#0066cc;

// -------------------

// SOURCE: ColorBlender
// meyerweb.com

// Black		#000
// Darkest		#202020
// Darker 		#404040
// Dark 		#606060
// Mid 			#808080
// Light 		#9f9f9f
// Lighter 		#bfbfbf
// Lightest 	#dfdfdf
// White		#fff

// -------------------

// SHADES BETWEEN #000 and #FFF
// SOURCE: ColorHexa

// #000000

// #0a0a0a
// #141414
// #1f1f1f

// #292929
// #333333
// #3d3d3d

// #474747
// #525252
// #5c5c5c

// #666666
// #707070
// #7a7a7a

// #858585
// #8f8f8f
// #999999

// #a3a3a3
// #adadad
// #b8b8b8

// #c2c2c2
// #cccccc
// #d6d6d6

// #e0e0e0
// #ebebeb
// #f5f5f5

// #ffffff

// -------------------